* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, Tahoma, sans-serif;
}

.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.container:after {
    display: table;
    content: '';
    clear: both;
}

.clearfix:after {    
    content: "";
    display: table;
    clear: both;
}

.listReset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/*--------------HEADER----------------*/

.header {
    position: relative;
}

.header__top {
    padding-top: 10px;
    padding-bottom: 15px;
}

.header__bottom {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #000;
}

.header__formCont {
    display: none;
}

.header__form {
    display: none;
}
.toggleMobMenu {
    float: left;
    width: 40px;
    margin-top: 3px;
}

.toggleMobMenu span {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
}

.toggleMobMenu span:last-child {
    margin-bottom: 0;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 117px;
    height: 25px;
    background: url("../images/logo.png");
}

.menuCont {
    display: none;
    position: absolute;
    padding-top: 28px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255,255,255,.8);
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}

.menuCont.open {
    display: block;
}

.delivery {
    display: none;
}

.mailLink {
    display: inline-block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-bottom: 26px;
}
.mailLink:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    content: "";
    width: 21px;
    height: 13px;
    background: url("../images/mail.png");
}

.account {
    display: inline-block;
    vertical-align: middle;
    margin-right: 33px;
    font-size: 14px;
    color: #000;
    text-decoration: none;  
}

.account:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    content: "";
    width: 24px;
    height: 9px;
    background: url("../images/key.png");
}

.location {
    display: inline-block;
    vertical-align: middle;
}

.location__item {
    display: inline-block;
}

.location__item a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.location__item:after {
    content:"|";
    margin-left: 4px;
}

.location__item:last-child:after {
    display: none;
}

.basket {
    float: right;
    color: #fff;
    text-decoration: none;
}

.basket:after{
    display: inline-block;
    content: '';
    width: 27px;
    height: 21px;
    margin-left: 2px;
    background: url("../images/basket.png");
}

.menu__item a {
    display: block;
    padding: 20px 0;
    color: #f5f5f5;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}


/*------------WRAPPER--------------*/


.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.slide {
    width: 100%;
    height: auto;  /*----добавил свойства для фото в слайдере---*/
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: url(../images/right.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    font-size: 0;
    border: 0;
}

.slick-next:focus {
    outline-style: none;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
    background: url(../images/left.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    font-size: 0;
    border: 0;
}

.slick-prev:focus {
    outline-style: none;
}

#slick-slide-control00 {
    position: absolute;
    bottom: 50px;
    left: 49%;
    background: url(../images/circle.png);
    background-size: cover;
    border: 0;
    width: 15px;
    height: 15px;
    font-size: 0;
}

#slick-slide-control00:focus {
    outline-style: none;
}

#slick-slide-control01 {
    position: absolute;
    bottom: 50px;
    left: 51%;
    background: url(../images/circle.png);
    background-size: cover;
    border: 0;
    width: 15px;
    height: 15px;
    font-size: 0;
}

#slick-slide-control01:focus {
    outline-style: none;
}

 
/*-------------НОВИНКИ-----------*/

section {
    position: relative;
}

.clothes img {
    max-width: 100%;
    height: auto;
}

.btn_new {
    position: absolute;
    display: inline-block;
    border: 1px solid #8b8b8b;
    padding: 20px;
    color: #8b8b8b;
    margin: auto;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%)
}

h1 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: normal;
}

.reset {
    padding-left: 0;
    padding-right: 0;
}

.dress {
    width: 100%;
    font-size: 0;
}

.thumbnail {
    display: inline-block;
    width: 33.333%;
    padding: 0 15px;
    font-size: 14px;
}

a h3:hover {
    color: #1a7de0;
}

.desc {
    margin-top: 20px;
	font-family: 'PT Sans', Arial, san-serif;
    font-size: 16px;
	color: #000;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.price {
    text-align: center;
    margin-top: 10px;
}

.old {
    text-decoration: line-through;
}



/*--------------SALE-------------*/
.sale {
    position: relative;
    text-align: center;
    letter-spacing: 5px;
    font-size: 22px;
    margin: 120px 0 50px 0;
}

.banner {
    width: 100%;
    height: auto;
}

.offer {
    width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 28px;
    font-weight: bolder;
}

h2:hover {
     color: #1a7de0;
}

/*--------------FOOTER-------------*/


footer {
    width: 100%;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #000;
    color: #fff;   
}

.container:after {  
	content: "";
    display: table;
    clear: both;
}

.listReset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 0;
}

.footer_inner {
    font-size: 14px;
    line-height: 1.6;
}

.footer_left {
    float: left;
    width: 70%;
}

.down {
    font-size: 0;
    margin-bottom: 15px;
}

.footer_right {
    float: right;
    width: 30%;
    text-align: right;
}

.menu_items {
    margin-right: 0;
    width: 33.33%;
}

ul {
    display: inline-block;
    vertical-align: top;
}


li {
    list-style-type: none;
    font-size: 14px;
}

.contacts {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

a:hover {
    color: #1a7de0;
}

.footer_btn {
    margin-top: 0;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

span {
    text-decoration: none;
    font-size: 14px;
}

.code {
    text-transform: capitalize;
    text-decoration: underline;   
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/*-----------MEDIA-QUERIES for FOOTER-----------*/


@media screen and (min-width: 480px) { 
    .header__topRight {
        float: right;
    }
    .mailLink {
        float: left;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .toggleMobMenu {
        display: none;
    }
    .logo {
        position: static;
        float: left;
        margin-right: 17px;
    }

    .menuCont {
        position: static;
        float: left;
        display: block;
        padding: 0;
        border-top: none;
    }       

    .menu__item {
        display: inline-block;
    }
    .menu__item a {
        font-size: 14px;
        padding: 0 17px;
    }
    .header__form {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1;
    }

    .header__form input[type="search"] {
        height: 24px;
        border: none;
        padding-right: 25px;
        border-bottom: 1px solid #000;
    }
    .header__form button {
        background: #000 url(../images/search.png);
        border: none;
        width: 23px;
        height: 23px;
        font-size: 0;
        position: absolute;
        bottom: 1px;
        right: 0;
    }
    .header__formCont {
        display: block;
        float: right;
    }
    .searchIcon {
        display: block;
        width: 23px;
        height: 23px;
        margin-right: 16px;
        background: url("../images/search.png");
    }
}

@media screen and (min-width: 992px) {
    .delivery {
        float: left;
        display: block;
        margin-right: 55px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo {
        position: static;
        float: left;
    }   
}

@media screen and (min-width: 1200px) {
    .delivery {
        margin-right: 150px;
    }
    .header__formCont {
        margin-right: 10px;
    } 
    .header__form {
        display: block;
        position: relative;
        z-index: 0;
    }
    .header__form input[type="search"] {
        border: block;
        padding-right: 25px;
        border-bottom: 1px solid #fff;
        background-color: transparent;
    }
    .searchIcon {
        display: none;
    }
}


/*-----------------MEDIA_QUERIES----------------*/

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {   
    
    .slick-next {
        width: 40px;
        height: 40px;
    }
    .slick-prev {
        width: 40px;
        height: 40px;
    }
    .thumbnail {
        padding: 15px;
        vertical-align: top;
    }
    .sale {
        font-size: 20px;
    }
    li {
        font-size: 16px;
    }
    .footer_btn {
        font-size: 16px;
    }
    span {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    
    .slick-next {
        width: 30px;
        height: 30px;
    }
    .slick-prev {
        width: 30px;
        height: 30px;
    }
    #slick-slide-control00 {
        width: 12px;
        height: 12px;
    }
    #slick-slide-control01 {
        width: 12px;
        height: 12px;
    }
    .desc {
        font-size: 16px;
    }
    .price {
        font-size: 16px;
    }
    .old {
        font-size: 16px;
    }
    h1 {
        font-size: 22px;
    }
    .btn_new {
        padding: 10px;
        margin-top: 35px;
    }
    .sale {
        font-size: 18px;
    }
    .footer_btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    
    .slick-next {
        width: 20px;
        height: 20px;
    }
    .slick-prev {
        width: 20px;
        height: 20px;
    }
    #slick-slide-control00 {
        display: none;
    }
    #slick-slide-control01 {
        display: none;
    }
    .desc {
        font-size: 14px;
    }
    .price {
        font-size: 14px;
    }
    .old {
        font-size: 14px;
    }
    .thumbnail {
        vertical-align: top;
        padding: 10px;
    }
    .btn_new {
        padding: 10px;
        margin-top: 30px
    }
    .footer_left {
        width: 70%;
    }
    .footer_right {
        width: 30%;
    }
    .menu_items {
        display: block;
    }
    .footer_btn {
        padding: 5px;
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
    span {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    
    .slick-next {
        width: 15px;
        height: 15px;
    } 
    .slick-prev {
        width: 15px;
        height: 15px;
    }
    h1 {
        font-size: 22px;
    }
    .thumbnail {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .thumbnail:nth-child(3) {
        margin-bottom: 100px;
    }
    .sale {
        margin: 0 auto 20px auto;
    }
    .desc {
        font-size: 16px;
    }
    .price {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .old {
        font-size: 16px;
    }
    .offer {
        font-size: 22px;
    }
    ul {
        display: block;
    }
    .btn_new {
        position: absolute;
        bottom: 40px;
        font-size: 12px;
    }
    .footer_left {
        width: 50%;
    }
    .footer_right {
        width: 50%;
    }
    .menu_items {
        width: 100%;
        margin-bottom: 0;
    }
    .menu_items:nth-child(3) {
        margin-bottom: 40px;
    }
    li {
         font-size: 16px;
    }
    .footer_btn {
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    
    h1 {
        font-size: 18px;
    }
    .old {
        font-size: 12px;
    }
    .desc {
        font-size: 12px;
    }
    .price {
        font-size: 12px;
        margin-bottom: 0;
    }
    .thumbnail:nth-child(3) {
        margin-bottom: 80px;
    }
    .btn_new {
        font-size: 12px;
        bottom: 25px;
    }
    .offer {
        font-size: 18px;
    }
    .footer_left {
        width: 50%;
    }
    .footer_right {
        width: 50%;
        padding: 0;
    }
    li {
        font-size: 12px;
    }
    .footer_btn {
        padding: 5px;
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }
    
}
